.about-us {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url("../images/world.jpg");
}

.aboutContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 80%;
  font-weight: 900;
  background-color: LightGray;
  opacity: 0.9;
}

.aboutContainer > li {
  padding: 1rem 2rem;
}

@media (max-width: 768px) {
  .aboutContainer > li {
    font-size: small;
  }
}
