@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  text-transform: capitalize;
  font-family: "Bruno Ace SC", cursi;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
