.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  color: white;
  height: 3rem;
  background-size: cover;
  background-position: center;
  background-color: #0c1a1a;
}

.logo-app {
  height: 10rem;
  width: 10rem;
  padding: 0;
}

.links {
  color: white;
}

.logo-app:hover {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.menu {
  display: flex;
  font-size: 1.1rem;
}

.links:hover {
  color: green;
  cursor: pointer;
}

.menu li {
  padding-left: 1.5rem;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  user-select: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    background-color: black;
    z-index: 3;
  }

  .links {
    display: block;
    transition: 0.3s ease;
    color: blanchedalmond;
    margin-top: 0.8rem;
  }

  .links:hover {
    color: skyblue;
    cursor: pointer;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
    color: blanchedalmond;
  }
}
