.orderpage {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url("../images/garbage.jpg");
}

.form {
  width: 60vh;
  background-color: #ffffff;
  opacity: 0.9;
  margin-right: 2rem;
  padding: 1rem;
}

.name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: none;
  opacity: 1;
}

.name h3 {
  color: brown;
  font-size: small;
  margin-left: 3rem;
}

.name > input {
  height: 2rem;
  border: none;
  color: brown;
  border-bottom: 1px solid black;
  font-size: small;
  margin-left: 2rem;
  font-family: "Bruno Ace SC", cursi;
}

.name > input:focus {
  outline: none;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule {
  height: 2rem;
  margin-top: 2rem;
  text-transform: capitalize;
  font-family: "Bruno Ace SC", cursi;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.schedule:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .form {
    width: 60%;
  }

  .name h3 {
    font-size: 0.6rem;
    margin-left: 0.5rem;
  }

  .name > input {
    width: 80%;
    margin-left: 0.2rem;
    font-size: 0.7rem;
  }

  .schedule {
    font-size: 0.7rem;
    font-weight: bolder;
  }
  .orderpage {
    flex-direction: column-reverse;
  }
}

.services-container {
  width: 50vw;
}

.services-about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  font-weight: 900;
  background-color: #ffffff;
  opacity: 0.8;
}

.services-about > ul {
  font-size: 0.8rem;
  text-transform: capitalize;
}

.services-about > ul > li {
  padding: 0.8rem 0;
}

@media (max-width: 768px) {
  .services-about > ul {
    font-size: 0.5rem;
  }
  .services-about > ul > li {
    padding: 0.4rem 0;
    padding-right: 1.5rem;
  }
  .services-container {
    width: 50vh;
  }
}
