.offering-plants {
  background-color: #ffefe3;
  text-align: center;
  margin: 0;
  padding-top: 2rem;
}

.plants {
  padding-top: 0.5rem;
  background-color: #ffefe3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80vh;
}

.plant-card {
  width: 30vh;
  height: 50vh;
  transition: transform 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: burlywood;
  color: blanchedalmond;
  margin: 1rem;
}

.plant-card:hover {
  transform: scale(1.1);
  z-index: 5;
}

.plant-img {
  width: 80%;
  height: 40%;
}

.plant-card > p {
  text-align: center;
}
